@page
@model SinusSkateboards.UI.Pages.Admin.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-center">Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a asp-page="OrderDetails" asp-route-id="@item.Id">See Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>